<mat-card style="width: 90%; margin-left: 5%; height: 30%; padding: 0" [ngClass]="{ 'card-playing': this.gameService.getCreator().turnToPlay }">
    <mat-card-header style="margin-left: 1%; margin-bottom: 0%; height: 50%">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="margin-top: 15%">{{ this.gameService.getCreator().name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="height: 50%">
        <mat-card-subtitle style="text-align: left; padding-left: 2%; margin: 0">Score : {{ this.gameService.getCreator().score }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="this.gameService.getCreator().turnToPlay" style="text-align: left; padding-left: 2%; margin: 0"
            >Temps : {{ this.gameService.getTimer() }}</mat-card-subtitle
        >
        <mat-card-subtitle class="score-time" *ngIf="this.gameService.getCreator().easel.getEaselSize() < 7">
            Lettre dans chevalet : {{ this.gameService.getCreator().easel.getEaselSize() }}</mat-card-subtitle
        >
    </mat-card-content>
</mat-card>
