.card-not-playing {
    border: none !important;
    box-shadow: none !important;
    background-color: #e5e5f7;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-playing {
    border: 7px solid black;
    border-color: rgb(81, 255, 0);
}

::ng-deep {
    .mat-card {
        background-color: #2c312b;
        color: #efefef;
        border-radius: 10px;
        margin-bottom: 8px;
        width: 260px;
    }
    .mat-form-field-label {
        color: #efefef;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }
    .mat-card-title {
        color: #efefef;
    }
    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff5800;
    }
    .mat-mini-fab.mat-accent {
        background-color: #ff5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }
    .mat-stepper-horizontal {
        background-color: #312e2b;
    }
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #ff5800;
    }
}
