<h1 id="pageTitle">Mode Admin</h1>
<h2 id="welcomeMessage">Bienvenue dans le mode administrateur du Scrabble de l'équipe 311</h2>

<!--<p>Veuillez cliquer sur l'un des onglets ci-dessous pour modifier les paramètres du jeu !</p>-->

<mat-tab-group>
    <mat-tab label="Dictionnaires">
        <div>
            <h2 id="dictsList">Liste des dictionnaires</h2>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">
                            <h1>Titre</h1>
                        </th>
                        <th scope="col">
                            <h1>Description</h1>
                        </th>
                        <th scope="col">
                            <h1>Modification</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of this.dictionnaryService.listOfDictionnary; let i = index" [attr.data-index]="i">
                        <td>
                            <h2>{{ element.title }}</h2>
                            <button class="btn btn-sm btn-warning" *ngIf="i !== 0" (click)="changeDictionnaryName(element.title)">
                                Modifier titre
                            </button>
                        </td>
                        <td>
                            <h2>{{ element.description }}</h2>
                            <button class="btn btn-sm btn-warning" *ngIf="i !== 0" (click)="changeDictionnaryDescription(element.description)">
                                Modifier Description
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" *ngIf="i !== 0" (click)="deleteDictionnary(element.title)">Supprimer</button>
                            <button class="btn btn-sm btn-danger" (click)="downloadDictionnary(i)"><i class="fa fa-remove"></i>Télécharger</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
                <div class="file-upload">
                    <input type="file" class="file-input" (change)="onChange($event)" #fileUpload accept=".json, .JSON" />
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!this.isNameAndFormatValid">Soumettre</button>
                <p class="alert-danger" *ngIf="isErrorMessage">{{ isErrorMessage }}</p>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Joueurs virtuels">
        <div>
            <h2 id="easyVJTitle">Débutants</h2>
            <div class="container">
                <table class="'table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nom du joueur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vPlayer of vPlayerNames; let i = index" [attr.data-index]="i">
                            <td>
                                <span>{{ vPlayer }}</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>Modifier</button>
                                <button class="btn btn-sm btn-danger" (click)="deletePlayer(i)"><i class="fa fa-remove"></i>Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="border">
                <button class="btn btn-md btn-outline-primary" (click)="addPlayer('Roman')"><i class="fa fa-user"></i>Ajouter un joueur</button>
            </div>
        </div>
        <div>
            <h2 id="expertVJTitle">Experts</h2>
            <div class="container">
                <table class="'table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nom du joueur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vPlayer of vPlayerNames; let i = index" [attr.data-index]="i">
                            <td>
                                <span>{{ vPlayer }}</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>Modifier</button>
                                <button class="btn btn-sm btn-danger" (click)="deletePlayer(i)"><i class="fa fa-remove"></i>Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="border">
                <button class="btn btn-md btn-outline-primary" (click)="addPlayer('Roman')"><i class="fa fa-user"></i>Ajouter un joueur</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Réinitialiser les parties">
        <div>
            <p>Pour réinitialiser les paramètres du jeu, veuillez cliquer sur le bouton ci-dessous</p>
            <button class="btn btn-sm btn-danger" (click)="resetParameters()">Réinitialiser les parties du système !</button>
        </div>
    </mat-tab>
</mat-tab-group>
