.mat-tab-group {
    overflow: hidden;
    border: 0.25em solid #ccc;
    background-color: #f1f1f1;
}

.addDictionnary {
    margin-bottom: 0.25em;
    margin-left: 0.25em;
}

#pageTitle {
    text-align: center;
    font-size: 2em;
    color: white;
}

#welcomeMessage {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#dictsList,
#easyVJTitle,
#expertVJTitle,
.container {
    margin-left: 0.25em;
}

.border {
    padding: 2em;
}

.btn {
    margin-right: 1em;
}

.fa {
    margin-right: 0vh;
}

table .btn {
    margin: 2em;
}
