img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

p {
    color: #efefef;
    padding: 0px 15px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e4052;
    border-radius: 20px;
}
.button:hover {
    background-color: #3d5369;
    cursor: pointer;
}

.content {
    margin-top: 3%;
    width: 90%;
    height: 90%;
}

.button:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
}
.mat-card {
    padding: 0.5%;
    margin-top: 0.5%;
    width: 21rem;
    height: 12rem;
    background-color: #2e4052;
}

.mat-card-title {
    font-size: 20px;
    margin-left: 20%;
    margin-top: 1%;
}

.mat-card ::ng-deep {
    .mat-tab-label {
        color: #efefef;
        background-color: #312e2b;
        width: 100%;
        font-size: large;
    }

    .mat-card-subtitle {
        color: #c0c0c0;
    }
}
