<mat-card>
    <mat-card-title>Objectifs de la partie !</mat-card-title>
    <mat-tab-group dynamicHeight="true" *ngIf="this.gameService.player1.objectives.length > 0">
        <mat-tab label="Publics">
            <div class="content">
                <div *ngIf="this.gameService.player1.objectives[1].achived; else objectif1NotAchived">
                    <p class="mb-4">
                        <del>1. {{ this.gameService.player1.objectives[1].description }}</del>
                    </p>
                </div>
                <ng-template #objectif1NotAchived>
                    <p class="mb-4">1.{{ this.gameService.player1.objectives[1].description }}</p>
                </ng-template>
                <div *ngIf="this.gameService.player1.objectives[2].achived; else objectif2NotAchived">
                    <p class="mb-4">
                        <del>2. {{ this.gameService.player1.objectives[2].description }} </del>
                    </p>
                </div>
                <ng-template #objectif2NotAchived>
                    <p class="mb-4">2.{{ this.gameService.player1.objectives[2].description }}</p>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="Privés">
            <div class="content">
                <div *ngIf="this.gameService.player1.objectives[0].achived; else objectifPrivateNotAchived">
                    <p class="mb-4">
                        <del>{{ this.gameService.player1.objectives[0].description }}</del>
                    </p>
                </div>
                <ng-template #objectifPrivateNotAchived>
                    <p class="mb-4">{{ this.gameService.player1.objectives[0].description }}</p>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>
