<section>
    <div class="quit-confirmation">
        <h1 mat-dialog-title>Êtes-vous sûr de vouloir tout réinitialiser?</h1>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Réinitialiser</button>
            <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
        </mat-dialog-actions>
    </div>
</section>
