<div class="modalContainer">
    <div *ngIf="!isWaitingAccept">
        <h2 id="title" mat-dialog-title>Démarrer un partie multijoueur</h2>
        <mat-dialog-content id="text">Veuillez saisir votre nom</mat-dialog-content>
        <section class="modalActions">
            <form class="example-form">
                <mat-form-field appearance="outline">
                    <mat-label class="playerNameLabel">Nom du joueur</mat-label>
                    <input
                        class="playerName"
                        name="playerName"
                        matInput
                        required
                        placeholder="Veuillez saisir votre nom"
                        [(ngModel)]="playerName"
                        (input)="onPlayerNameChange()"
                    />
                </mat-form-field>
                <p class="inputError" *ngIf="isInputError">
                    {{ errorMessage }}
                </p>

                <mat-form-field appearance="outline">
                    <mat-label class="roomNameLabel">Nom de la salle</mat-label>
                    <mat-select
                        [(ngModel)]="roomName"
                        name="roomName"
                        matTooltip="Aucune salle n'est disponible"
                        [matTooltipDisabled]="!(roomNames === [])"
                        [disabled]="roomNames === []"
                    >
                        <mat-option *ngFor="let room of roomNames" [value]="room" (click)="onSelectRoom()">
                            {{ room }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </section>
        <section>
            <mat-hint *ngIf="roomChosen"> &#9679; Le nom de votre adversaire est {{ creatorName }} <br /> </mat-hint>
            <mat-hint *ngIf="isSamePlayerName">&#9679; Vous ne pouvez pas avoir les même nom pour les deux joueurs! <br /> </mat-hint>
            <mat-hint align="start" class="error-hint" *ngIf="!isPlayerNameValid">
                &#9679; Le nom doit être uniquement composé de lettres <br />
                &#9679; Le nom ne doit pas contenir d'espace <br />
                &#9679; Le nom doit avoir au min 5 caracteres et max 15! <br />
            </mat-hint>
        </section>
        <button class="startGame" *ngIf="isPlayerNameValid && !isSamePlayerName && roomChosen" (click)="startGame()">Rejoindre la partie</button>
        <button class="startGame" [disabled]="roomNames === []" *ngIf="roomNames !== []" (click)="selectRandomRoom()">Placement aléatoire</button>
    </div>

    <div *ngIf="isWaitingAccept">
        <mat-spinner color="warn" style="margin: auto"></mat-spinner>
        <mat-hint>&#9679; En attente que votre adversaire accepte!</mat-hint>
    </div>
    <button class="cancel" routerLink="/home" (click)="cancelJoin()" mat-dialog-close="true">Annuler</button>
</div>
