.modalContainer {
    align-items: center;
    height: 150%;
    width: 100vh;
    color: gold;
}

.inputError {
    font-size: 10px;
    color: red;
}

.startGame {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.cancel {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.startGame:hover,
.cancel:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}

.playerName {
    width: 80%;
    color: rgb(228, 79, 203);
    margin: auto;
    margin-top: 1vh;
}

.playerNameLabel,
.roomNameLabel {
    color: rgb(228, 79, 203);
    border-color: rgb(176, 6, 0);
}

.mat-form-field {
    display: inline;
}

.error-hint {
    color: rgb(228, 79, 203);
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

mat-hint {
    color: rgb(228, 79, 203);
}

#text {
    font-size: 1em;
    margin: 2%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(176, 6, 0);
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        color: rgb(0, 0, 0);
        border-color: rgb(212, 22, 187);
    }
    .mat-form-field {
        input {
            color: rgb(0, 0, 0) !important;
        }
    }
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
