<section>
    <div class="quit-confirmation">
        <h1 mat-dialog-title>Écrivez la nouvelle description que vous voulez donner pour ce dictionnaire</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Description du dictionnaire</mat-label>
                <input matInput [(ngModel)]="newDescription" />
            </mat-form-field>
        </div>
        <div class="sameTitle">
            <h2 *ngIf="hiddenFirstWrongMessage">Vous avez écris la même description</h2>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="onSubmit(newDescription)">Soumettre</button>
            <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
        </mat-dialog-actions>
    </div>
</section>
