<div class="modalContainer">
    <h2 id="title" mat-dialog-title>Meilleurs scores</h2>
    <mat-dialog-content id="text">Veuillez choisir parmi les options suivantes !</mat-dialog-content>
    <section class="modalActions">
        <mat-dialog-actions>
            <button class="classicMode" (click)="dispModalClassic()">Meilleurs scores en mode classique</button>
            <button class="mode2990" (click)="dispModal2990()">Meilleurs scores en mode 2990</button>
        </mat-dialog-actions>
    </section>
    <button class="cancel" routerLink="/home" mat-dialog-close="true">Revenir au menu principal</button>
</div>
