<mat-card class="card-not-playing" fxLayout="col">
    <mat-card-header>
        <mat-card-title class="score-time" *ngIf="this.gameService.getWinnerName() !== 'egal'">
            {{ 'GAGNANT: ' + this.gameService.getWinnerName() }}</mat-card-title
        >
        <mat-card-title *ngIf="this.gameService.getWinnerName() === 'egal'"> {{ ' EGALITÉ : ' }}</mat-card-title>
        <mat-card-subtitle class="score-time"> {{ 'CHEVALET de ' + this.gameService.getCreator().name + ' :' }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time">
            <!-- easel player 1 -->
            <canvas id="canvas" class="easel" #easelOne [attr.width]="width" [attr.height]="height"></canvas>
        </mat-card-subtitle>
        <mat-card-subtitle class="score-time"> {{ 'CHEVALET de ' + this.gameService.getJoiner().name + ' :' }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time">
            <!-- easel player 2 -->
            <canvas id="canvas" class="easel" #easelTwo [attr.width]="width" [attr.height]="height"></canvas>
        </mat-card-subtitle>
    </mat-card-header>
    <section class="modalActions">
        <mat-dialog-actions>
            <button class="yes" mat-dialog-close="true">Fermer le panneau</button>
        </mat-dialog-actions>
    </section>
</mat-card>
