<div class="modalContainer">
    <h2 id="title" mat-dialog-title>Partie multijoueur</h2>
    <section class="modalActions">
        <button class="startGame" (click)="dispMultiplayerCreateModal()" mat-dialog-close="true">Créer une partie</button>
        <button class="startGame" (click)="dispMultiplayerJoinModal()" mat-dialog-close="true">Rejoindre une partie</button>
        <button class="cancel" routerLink="/home" mat-dialog-close="true">Revenir au menu principal</button>
    </section>
</div>