.modalContainer {
    align-items: center;
    height: 150%;
    width: 100vh;
    color: gold;
}

.startGame {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.cancel {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.startGame:hover,
.cancel:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}

.playerName {
    width: 80%;
    color: black;
    margin: auto;
    margin-top: 1vh;
}

.playerNameLabel {
    color: rgb(176, 6, 0);
    border-color: rgb(176, 6, 0);
}

.mat-form-field {
    display: inline;
}

#text {
    font-size: 1em;
    margin: 2%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(176, 6, 0);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
