<section>
    <div class="quit-confirmation">
        <h1 mat-dialog-title>Écrivez le nouveau titre que vous voulez donner pour ce dictionnaire</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Titre du dictionnaire</mat-label>
                <input matInput [(ngModel)]="newTitle" />
            </mat-form-field>
        </div>
        <div class="sameTitle">
            <h2 *ngIf="hiddenFirstWrongMessage">Vous avez écris le même titre</h2>
        </div>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="onSubmit(newTitle)">Soumettre</button>
            <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
        </mat-dialog-actions>
    </div>
</section>
