<div class="modalContainer">
    <h2 id="title" mat-dialog-title>Abandonner la partie</h2>
    <mat-dialog-content id="text">Êtes-vous sûr de vouloir abandonner la partie ?</mat-dialog-content>
    <section class="modalActions">
        <mat-dialog-actions>
            <button class="yes" (click)="abandonGame()" mat-dialog-close="true">Oui</button>
            <button class="no" mat-dialog-close="true">Non</button>
        </mat-dialog-actions>
    </section>
</div>
