.modalContainer {
    align-items: center;
    height: 150%;
    color: gold;
}

#title {
    text-align: center;
    font-size: 2.25em;
}

#text {
    font-size: 1.5em;
}

.yes,
.no {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

::ng-deep.mat-dialog-container {
    background-color: rgb(24, 4, 43) !important;
}

.yes:hover,
.no:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}
