<section>
    <div class="quit-confirmation">
        <h1 mat-dialog-title>{{ title }}</h1>
        <div mat-dialog-content>{{ message }}</div>
        <mat-dialog-actions>
            <!--            <button mat-raised-button color="warn" (click)="dialogRef.close(true)" mat-dialog-close>Fermer</button>-->
            <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
        </mat-dialog-actions>
    </div>
</section>
