<mat-card class="modalContainer">
    <mat-card-title class="modalContainer align-items-center">Configuration de la partie en Solo</mat-card-title>
    <section class="modalActions">
        <form class="example-form">
            <mat-form-field appearance="outline">
                <mat-label class="playerNameLabel align-items-center">Nom du joueur</mat-label>
                <input
                    class="playerName"
                    name="playerName"
                    matInput
                    required
                    placeholder="Veuillez saisir votre nom"
                    [(ngModel)]="playerName"
                    (input)="onPlayerNameChange()"
                />
            </mat-form-field>
            <p class="inputError" *ngIf="isInputError">
                {{ errorMessage }}
            </p>

            <div class="d-flex flex-row align-items-center justify-content-start">
                <h3 class="text-gold" style="margin: 0px">Temps par tour :</h3>
                <button
                    class="arrow d-flex flex-row align-items-center justify-content-evenly"
                    mat-mini-fab
                    (click)="this.commandService.incrementTimer(false, this.timer)"
                    aria-label="Example icon button with a plus one icon"
                    [disabled]="timer.min === 0 && timer.sec === 30"
                >
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <div class="d-flex flex-row align-items-center justify-content-evenly">
                    <p ngDefaultControl>{{ this.commandService.timerToString(this.timer) }}</p>
                </div>

                <button
                    class="arrow d-flex flex-row align-items-center justify-content-evenly"
                    mat-mini-fab
                    (click)="this.commandService.incrementTimer(true, this.timer)"
                    aria-label="Example icon button with a plus one icon"
                    [disabled]="timer.min === 5 && timer.sec === 0"
                >
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

            <div class="time-label d-flex flex-row align-items-center justify-content-start" style="margin-top: 10px">
                <h3 style="margin-bottom: 0">Niveau du joueur virtuel :</h3>
                <div *ngFor="let lvl of lvls">
                    <label class="radio-tem d-flex flex-row align-items-center justify-content-start" style="margin-left: 10px">
                        <input type="radio" style="margin-right: 3px" name="lvlJv" [value]="lvl" checked (change)="setLevelJv($event)" />
                        {{ lvl }}
                    </label>
                </div>
            </div>
        </form>
    </section>
    <section>
        <mat-hint align="start" class="error-hint" *ngIf="!isPlayerNameValid">
            &#9679; Le nom doit être uniquement composé de lettres <br />
            &#9679; Le nom ne doit pas contenir d'espace <br />
            &#9679; Le nom doit avoir au min 5 caracteres et max 15! <br />
        </mat-hint>
        <mat-hint align="start" class="error-hint" *ngIf="isPlayerNameValid">
            &#9679; Le nom de l'adversaire {{ virtualPlayerName }} <br />
            &#9679; La durée d'un tour est de {{ this.timer.min }} minute et {{ this.timer.sec }} seconde <br />
            &#9679; Niveau du joueur adversaire : {{ this.vrLvl }} <br />
        </mat-hint>
    </section>

    <section>
        <form [formGroup]="dictionnaryForm">
            <mat-form-field appearance="outline">
                <mat-label class="dictionnaryLabel">Dictionnaire par défaut</mat-label>
                <mat-select formControlName="dictionnary">
                    <mat-option
                        *ngFor="let dict of this.dictionnaryService.listOfDictionnary"
                        [value]="dict.title"
                        (onSelectionChange)="change(dict.title)"
                    >
                        {{ dict.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </section>
    <section>Description du dictionnaire: {{ this.description }}</section>

    <button
        class="startGame"
        *ngIf="isPlayerNameValid && isDictionnarySelected && isDictionnaryStillAvailable()"
        (click)="startGame()"
        mat-dialog-close="true"
    >
        Commencer la partie
    </button>
    <button class="startGame disabled" disabled *ngIf="!isPlayerNameValid || !isDictionnarySelected || !isDictionnaryStillAvailable()">
        Commencer la partie
    </button>
    <button class="cancel" routerLink="/home" mat-dialog-close="true">Annuler</button>
</mat-card>
