#information-board {
    background-color: rgb(80, 19, 179);
    padding: 0;
    text-align: center;
    height: 60%;
    margin-top: 3%;
}

#chatSpace {
    margin-top: 0%;
    height: 85%;
}

#canvas {
    border: 1px solid black;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#showTileSize {
    background-color: rgb(80, 19, 179);
    color: gold;
}

#showTileSize p {
    text-align: center;
    margin-top: 15%;
    font-family: 'Gill Sans';
    font-size: 16px;
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

.divButtons {
    background-color: rgb(80, 19, 179);
    width: 50%;
    height: 15%;
    margin-left: 25%;
    margin-top: 1.75em;
}

.easelLayer {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 4;
}
.boardLayer {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 1;
}
.letterLayer {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 2;
}
.superLayer {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 4;
}

.placeButton,
.exchangeButton,
.cancelExchangeButton,
.leaveButton,
.passButton {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.leaveButton:hover,
.passButton:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}

.changeSizeButton {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}
.reserve-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    background: #312e2b;
    color: gold;
    text-align: center;
    border-radius: 3%;
    margin-top: 15px;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}
