<div
    (contextmenu)="this.eventClickService.handleEaselClick($event)"
    (click)="this.eventClickService.handleSwapClick($event)"
    oncontextmenu="return false"
    class="container-fluid"
    style="height: 85%"
>
    <div class="row" style="height: 100%">
        <div class="col-md-3">
            <div id="information-board">
                <div>
                    <p class="reserve-title">{{ 'Lettres restantes : ' + this.remainingLetters }}</p>
                </div>
                <app-creator-player></app-creator-player>
                <app-joiner-player></app-joiner-player>
                <div></div>
            </div>
            <div style="height: 40%">
                <button
                    *ngIf="
                        this.gameService.player1.turnToPlay &&
                        this.eventClickService.letterGridIsPlaced &&
                        this.eventClickService.isExchangeLetterSelected === false
                    "
                    class="placeButton"
                    (click)="onPlaceLetters()"
                >
                    Jouer
                </button>
                <button
                    *ngIf="this.eventClickService.isExchangeLetterSelected"
                    class="exchangeButton"
                    (click)="this.eventClickService.exchangeAction()"
                >
                    Echanger
                </button>
                <button
                    *ngIf="this.eventClickService.isExchangeLetterSelected"
                    class="cancelExchangeButton"
                    (click)="this.eventClickService.cancelExchangeClick()"
                >
                    Annuler l'echange
                </button>
                <button *ngIf="this.gameService.isGameOver" class="leaveButton" (click)="quit()">QUITTER</button>
                <button *ngIf="!this.gameService.isGameOver" class="leaveButton" (click)="dispModal()">Abandonner</button>
                <button class="passButton" [disabled]="this.gameService.isGameOver || disableButton()" (click)="passTurn()">Passer son tour</button>
                <div class="divButtons row">
                    <button
                        class="col-md"
                        mat-mini-fab
                        color="accent"
                        (click)="incrementSize(false)"
                        aria-label="Example icon button with a plus one icon"
                        [disabled]="pxIndex === 0"
                    >
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div id="showTileSize" class="col-md">
                        <p ngDefaultControl [(ngModel)]="pxSize">A a</p>
                    </div>
                    <button
                        class="col-md"
                        mat-mini-fab
                        color="accent"
                        (click)="incrementSize(true)"
                        aria-label="Example icon button with a plus one icon"
                        [disabled]="pxIndex === 2"
                    >
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <canvas id="canvas" class="boardLayer" #gridCanvas [attr.width]="width" [attr.height]="height"></canvas>
            <canvas class="letterLayer" #letterCanvas [attr.width]="width" [attr.height]="height"></canvas>
            <canvas id="easelCanvas" class="easelLayer" #easelCanvas [attr.width]="width" [attr.height]="height"></canvas>
            <canvas
                id="superCanvas"
                class="superLayer"
                #superCanvas
                [attr.width]="width"
                [attr.height]="height"
                (click)="this.eventClickService.handleGridClick($event)"
            ></canvas>
        </div>
        <div id="chatSpace" class="col-md-3">
            <app-objective-area *ngIf="this.gameService.log2990"></app-objective-area>
            <app-chatbar></app-chatbar>
        </div>
    </div>
</div>
