<div class="container">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />

    <section class="main-page">
        <button class="button classic-scrabble" (click)="dispModal()">Scrabble Classique</button>
        <button class="button scrabble-2990" (click)="dispModalLog2990()">Scrabble LOG2990</button>
        <button class="button high-scores" (click)="dispModalHighScore()">Meilleurs scores</button>
    </section>

    <div class="footer-item">
        <h4 class="team-name">Équipe 311</h4>
        <p>
            <span>Oussama Chobah</span>, <span>Mounib Djellab</span>, <span>Manal Haboussi</span>, <span>Mohamed Laraki</span>,
            <span>Omar Sadat</span>
        </p>
    </div>
</div>
