.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
    min-width: min-content;
}

.classic-scrabble,
.scrabble-2990,
.high-scores {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 20%;
    height: 90%;
    text-align: center;
    cursor: pointer;
    margin-top: vh;
    margin-bottom: 3vh;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.classic-scrabble:hover,
.high-scores:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}

.team-name {
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    font-size: 1.5em;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    font-size: 1.5em;
    color: gold;
}
.footer-item p :nth-child(odd) {
    font-size: 1.5em;
    color: rgb(228, 79, 203);
}
