<div class="modalContainer">
    <h2 id="title" mat-dialog-title>Jouer au Scrabble !</h2>
    <mat-dialog-content id="text">Veuillez choisir parmi les options suivantes !</mat-dialog-content>
    <section class="modalActions">
        <mat-dialog-actions>
            <button class="singlePlayer" (click)="soloGame()" mat-dialog-close="true">Jouer une partie en solo</button>
            <button class="createMultiPlayer" (click)="dispMultiplayerModal()" mat-dialog-close="true">Jouer une partie en multijoueur</button>
        </mat-dialog-actions>
    </section>
    <button class="cancel" routerLink="/home" mat-dialog-close="true">Revenir au menu principal</button>
</div>
