<div [ngClass]="this.gameService.log2990 === true ? 'affichage-box-container-log2990' : 'affichage-box-container'" #scrollbox>
    <div class="command" [attr.type]="element.colorRef" *ngFor="let element of this.chatMessages">
        {{ element.dm }}
    </div>
</div>
<mat-form-field (click)="unClick()" floatLabel="never" appearance="fill" class="commande-input">
    <mat-label>Commande</mat-label>
    <input matInput type="text" [(ngModel)]="chatInput" (keyup.enter)="chatActionValidate()" />
    <mat-hint align="end">max 512 caractères</mat-hint>
</mat-form-field>

<!-- [ngClass]="step == 'step1' ? 'my_class1' : 'my_class2'" -->
<!-- [ngClass]="{'my_class': step === 'step1'}" -->
