.affichage-box-container {
    height: 73vh;
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    overflow-y: auto;
}

.commande-input {
    margin-top: 3%;
    width: 40vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border-color: rgb(69, 3, 60);
}
.error {
    color: red;
}
.command {
    color: orange;
}
.commandHelp {
    color: orange;
}

.affichage-box-container-log2990 {
    height: 80%;
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    overflow-y: auto;
}

#chatbox {
    height: 95%;
    padding: 0;
    margin-top: 3%;
}

#header-chatbox {
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: pink;
}

#msg-area {
    background-color: green;
    overflow-y: scroll;
    height: 80%;
}

mat-form-field {
    mat-label {
        color: rgb(228, 79, 203);
    }
    input {
        color: black !important;
    }
}

mat-hint {
    color: rgb(228, 79, 203);
}

#msg-text {
    background-color: white;
    padding: 0;
    height: 10%;
}
div[type='green'] {
    color: green;

    font-weight: bold;
}
div[type='red'] {
    color: red;
}
div[type='black'] {
    color: gold;
}
div[type='opponent'] {
    color: rgb(228, 79, 203);

    font-weight: bold;
}
