<mat-card class="card-not-playing" fxLayout="col">
    <mat-card-header>
        <mat-card-title class="converted-info"> Votre adversaire a abondonné. Partie convertie en mode solo! </mat-card-title>
    </mat-card-header>
    <section class="modalActions">
        <mat-dialog-actions>
            <button class="yes" mat-dialog-close="true">D'accord</button>
        </mat-dialog-actions>
    </section>
</mat-card>
