.yes:hover,
.no:hover {
    background-color: white;
    color: rgb(176, 6, 0);
}

::ng-deep {
    .mat-form-field-label {
        color: #efefef;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }
    .mat-card-title {
        color: rgb(176, 6, 0);
    }
    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: rgb(176, 6, 0);
    }
    .mat-mini-fab.mat-accent {
        background-color: rgb(176, 6, 0);
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }

    .mat-dialog-container {
        min-width: 80vh;
        padding: 0%;
    }
}

.card-not-playing {
    border: none !important;
    box-shadow: none !important;
    background-color: #312e2b;
}

.mat-card {
    background-color: #312e2b;
    color: #efefef;
    width: 100%;
    height: 100% !important;
    border: none;
    margin: 0%;
}

.button-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
        width: 150px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2e4052;
    }
    button:last-child:enabled {
        color: white;
    }
}

.yes,
.no {
    min-width: 10vh;
    border-color: rgb(110, 4, 0);
    background-color: rgb(179, 6, 0);
    color: white;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}
