<div class="container">
    <div class="frame" #scrollframe>
        <div class="form-group"></div>

        <div class="chatBar">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Chat</span>
                </div>

                <mat-hint id="hint" align="end">/ 512 </mat-hint>
            </div>
        </div>
    </div>
</div>
