<div class="modalContainer">
    <h2 id="title" mat-dialog-title>Démarrer un partie multijoueur</h2>
    <div *ngIf="!isWaitingJoiner && !isPlayerJoined">
        <mat-dialog-content id="text">Veuillez saisir les paramètres de la salle</mat-dialog-content>
        <section class="modalActions">
            <form class="example-form">
                <mat-form-field appearance="outline">
                    <mat-label class="playerNameLabel">Nom du joueur</mat-label>
                    <input
                        class="playerName"
                        name="playerName"
                        matInput
                        required
                        placeholder="Veuillez saisir votre nom"
                        [(ngModel)]="playerName"
                        (input)="onPlayerNameChange()"
                    />
                </mat-form-field>
                <p class="inputError" *ngIf="isInputError">
                    {{ errorMessage }}
                </p>
                <div class="d-flex flex-row align-items-center justify-content-start">
                    <h3 class="text-gold" style="margin: 0px">Temps par tour :</h3>
                    <button
                        class="arrow d-flex flex-row align-items-center justify-content-evenly"
                        mat-mini-fab
                        (click)="this.commandService.incrementTimer(false, this.timer)"
                        aria-label="Example icon button with a plus one icon"
                        [disabled]="timer.min === 0 && timer.sec === 30"
                    >
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <div class="d-flex flex-row align-items-center justify-content-evenly">
                        <p ngDefaultControl>{{ this.commandService.timerToString(this.timer) }}</p>
                    </div>

                    <button
                        class="arrow d-flex flex-row align-items-center justify-content-evenly"
                        mat-mini-fab
                        (click)="this.commandService.incrementTimer(true, this.timer)"
                        aria-label="Example icon button with a plus one icon"
                        [disabled]="timer.min === 5 && timer.sec === 0"
                    >
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label class="roomNameLabel">Nom de la salle</mat-label>
                    <input
                        class="roomName"
                        name="roomName"
                        matInput
                        required
                        placeholder="Veuillez saisir le nom de la salle"
                        [(ngModel)]="roomName"
                        (input)="onRoomNameChange()"
                    />
                </mat-form-field>
            </form>
        </section>
        <section>
            <mat-hint align="start" class="error-hint" *ngIf="!isPlayerNameValid">
                &#9679; Le nom doit être uniquement composé de lettres <br />
                &#9679; Le nom ne doit pas contenir d'espace <br />
                &#9679; Le nom doit avoir au min 5 caracteres et max 15! <br />
            </mat-hint>
        </section>

        <section>
            <form [formGroup]="dictionnaryForm">
                <mat-form-field appearance="outline">
                    <mat-label class="dictionnaryLabel">Choisir le dictionnaire à utiliser</mat-label>
                    <mat-select formControlName="dictionnary">
                        <mat-option
                            *ngFor="let dict of this.dictionnaryService.listOfDictionnary"
                            [value]="dict.title"
                            (onSelectionChange)="change(dict.title)"
                        >
                            {{ dict.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </section>
        <section>Description: {{ this.description }}</section>

        <button class="startGame" *ngIf="isPlayerNameValid && isRoomNameValid && isDictionnarySelected" (click)="startGame()">
            Commencer la partie
        </button>
        <button class="startGame disabled" disabled *ngIf="!isPlayerNameValid || !isRoomNameValid || !isDictionnarySelected">
            Commencer la partie
        </button>
    </div>
    <div *ngIf="isWaitingJoiner && !isPlayerJoined">
        <mat-spinner color="warn" style="margin: auto"></mat-spinner>
        <mat-hint>&#9679; En attente de votre adversaire!</mat-hint>
        <button class="cancel" mat-dialog-close="true" (click)="createSoloGame()">Convertir en partie solo</button>
    </div>
    <div *ngIf="isPlayerJoined">
        <mat-hint
            >&#9679; Votre adversaire <strong>{{ joiner }}</strong> demande de rejoindre la partie</mat-hint
        >
        <button class="acceptPlayer" (click)="acceptJoiner()">Accepter</button>
        <button class="rejectPlayer" (click)="rejectJoiner()">Rejeter</button>
    </div>
    <button class="cancel" routerLink="/home" mat-dialog-close="true" (click)="delet()">Annuler</button>
</div>
