.title {
    color: gold;
}
.cancel {
    border-color: gold;
    background-color: rgb(80, 19, 179);
    color: gold;
    border-radius: 5px;
    border-width: 0.15em;
    border-style: solid;
    width: 50%;
    height: 10vh;
    text-align: center;
    cursor: pointer;
    margin-top: 1.75em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2.25vh;
    transition-duration: 0.4s;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid gold;
    text-align: left;
    width: 100%;
}
h2 {
    color: gold;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.cancel:hover {
    background-color: rgb(236, 203, 224);
    color: black;
}
