<section>
    <div>
        <h1 class="title">Meilleurs scores</h1>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">
                        <h1>Nom</h1>
                    </th>
                    <th scope="col">
                        <h1>Score</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of this.listOfScores2990">
                    <td>
                        <h2>{{ element.name }}</h2>
                    </td>
                    <td>
                        <h2>{{ element.score }}</h2>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="cancel" routerLink="/home" mat-dialog-close="true">Retour</button>
    </div>
</section>
